@*@model IEnumerable<Sys.Models.WebArticle>*@
@model MvcPaging.IPagedList<Sys.Models.WebArticle>
@using MvcPaging

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().viewers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().publishUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().publishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateUser)
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.viewers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUser)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.InitDate)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
